/* @import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css'); */
@font-face{
  font-family: GodoM;src:url('../fonts/GodoM.ttf');
}
@font-face{
  font-family: GodoB;src:url('../fonts/GodoB.ttf');
}
.geoseong-badge:hover {
  background-color: #7A8288;
  color: #fff;
}
.geoseong-badge {
  cursor: pointer;
}
body {
  font-family:'GodoM', 'GodoB' !important;
}
.geoseong-more-txt:hover {
  color: #8fd1ff;
}
.geoseong-more-txt {
  color: #b5cecc;
}
.geoseong-collapse-menu {
  padding-left: .5em;
  background-color: rgba(7, 54, 66, 0.8);
}
.align-desktop {
  right: 0;
}
.align-mobile {
  left: 0;
}
.geoseong-hide {
  display: none !important;
}